.footer {
  max-width: 900px;
  margin: 25px auto;
  text-align: center;
}

.footer-link a {
  color: #027a7a;
  background-image: linear-gradient(to bottom, transparent 65%, #fcf113 0);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: background-size 0.4s ease;
}

.footer-link a:hover {
  background-size: 100% 100%;
  cursor: pointer;
}